.container {
  height: 50px;
  background-color: black;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.active a {
  color: blueviolet;
}
